body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.panel-default {
    overflow: hidden;
    padding: 20px 20px 20px 20px;
}

.busyIndicator .alert {
            left: 40%;
            top: 5%;
            position: fixed;
            z-index: 1050;
            width: 400px;
            height: 40px;
            padding-left: 10px;
            padding-top: 10px;
            background-color: lightgreen;
            color: black;
            border-color: transparent;
}
.busyIndicator .backgroundMask {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: black;
        z-index: 1049;
}

/* Bootstrap Updates*/
.panel-primary {
    border-color: #EEA126;
}

.panel-primary .panel-heading {
    background-color: #AA5E5A;
    border-color: #AA5E5A;
}

/* Comment History CSS */
#comment-container .thumbnail {
    padding:0px;
}
#comment-container .panel {
	position:relative;
}
#comment-container .panel-default {
    padding: 0px 0px 0px 0px;
    overflow: visible;
}
#comment-container .panel>.panel-heading:after, #comment-container .panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
#comment-container .panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
#comment-container .panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
#comment-container .panel-body {
    padding: 15px;
}
/* End Comment History CSS */

/* File Upload CSS */
#progressbar {
    background-color: black;
    background-repeat: repeat-x;
    border-radius: 13px;
    padding: 3px;
}

#progressbar > div {
    background-color: orange;
    width: 0%;
    height: 20px;
    border-radius: 10px;
}

#attachment-container {
    margin-top: 3px;
}

    #attachment-container .thumbnail {
        margin-bottom: 0px;
        border: 0px;
    }

/* End File upload CSS*/