@{
    ViewBag.Title = "Pwc Taskboard";
    Layout = "~/Views/Shared/_Layout-Fluid.cshtml";
}

<link href="~/Content/kanban.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<div class="row">

    <div id="boardCtrl" class="col-md-8 col-md-offset-2" ng-controller="boardCtrl">

        <div ng-include="'/AppScripts/busyModal.html'" ng-show="isLoading"></div>

        <div class="row">
            <div class="col-md-3">
                <h1>PwC Taskboard</h1>
            </div>
            <div class="col-md-5 pull-right">
                <div class="form-horizontal">
                    <div id="header-actionbuttons" class="control-group row-fluid form-inline">
                        @Html.Label("Project:", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("ProjectId", (SelectList)ViewBag.ProjectList, new { @class = "form-control" })
                        &nbsp;&nbsp;
                        <button id="btnAddTask" type="button" class="btn btn-primary add-task" data-toggle="modal" data-ng-click="fillProjectUsers()" data-target="#updateTaskModal">Add&nbsp;&nbsp;<i class="fa fa-lg fa-plus-square-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel panel-primary kanban-col" id="{{col.Id}}" kanban-board-drop="over" ng-repeat="col in columns">
                <div class="panel-heading" style="margin-bottom: 10px;">
                    <h3 class="panel-title">{{col.Name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="kanban-centered">
                        <article class="kanban-entry grab" draggable="true" kanban-board-dragg="task"
                                 ng-repeat="task in col.Tasks" style="margin-bottom: 10px;">
                            <div class="kanban-entry-inner">
                                <div class="kanban-label">
                                    <h5>
                                        <strong><a href="#" class="board-link" data-toggle="modal" data-target="#taskDetailsModal" data-ng-click="loadTaskDetails(task.Id)" data-custom-id="{{task.Id}}" data-name="{{task.Name}}" data-description="{{task.Description}}">{{task.Name}}</a></strong>
                                        <a href="#" class="btn btn-default btn-sm btn-user" role="button"><span class="fa fa-user"></span></a>
                                    </h5>
                                    <p>{{task.Description}}</p>
                                    <p>
                                        <button type="button" id="btnEditTask" class="btn btn-default btn-xs" data-toggle="modal" data-ng-click="fillProjectUsers(task.AssignedToID)" data-target="#updateTaskModal"
                                                data-custom-id="{{task.Id}}" data-name="{{task.Name}}" data-assignee="{{task.AssignedToID}}" data-duedate="{{task.DueDate}}" data-description="{{task.Description}}">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" id="btnArchiveTask" class="btn btn-default btn-xs" data-ng-click="archive(task.Id)"><i class="fa fa-archive" aria-hidden="true"></i></button>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        @* update task modal window *@
        <div class="modal fade" id="updateTaskModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="editTaskModalTitle" class="modal-title">Edit Task</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="task-id" data-ng-model="task.Id" />
                            <div class="form-group">
                                <label for="task-name" class="control-label">Task Name:</label>
                                <input type="text" class="form-control" id="task-name" data-ng-model="task.Name" required>
                            </div>
                            <div class="form-group">
                                <label for="task-assignee" class="control-label">Assign To:</label>
                                <select class="form-control" id="task-assignee" ng-model="user" ng-options="user.FullName for user in users track by user.Id">
                                    <option value="" label="Select and item"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="task-name" class="control-label">Due Date:</label>
                                <input type="text" class="form-control" id="task-duedate" data-ng-model="task.DueDate">
                            </div>
                            <div class="form-group">
                                <label for="description-text" class="control-label">Description:</label>
                                <textarea class="form-control" id="task-description" data-ng-model="task.Description" required></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning" data-ng-click="delete()">Delete&nbsp;&nbsp;<i class="fa fa-lg fa-trash" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-primary" data-ng-click="save()">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        @* task details modal window *@
        <div class="modal fade" id="taskDetailsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="task-name" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <h5 id="task-description"></h5>
                        <!-- Comment History Section -->
                        <div id="comment-container" class="container" style="max-height: 400px; overflow-y:auto;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Comments</h4>
                                </div><!-- /col-sm-12 -->
                            </div><!-- /row -->
                            <div class="row" ng-repeat="c in comments">
                                <div class="col-sm-2">
                                    <div class="thumbnail">
                                        <img class="img-responsive user-photo" src="~/Images/avatar_2x.png">
                                    </div><!-- /thumbnail -->
                                </div><!-- /col-sm-1 -->

                                <div class="col-sm-10">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>{{c.CreatedByName}}</strong> <span class="text-muted">{{c.CreatedTimeSpan}}</span>
                                        </div>
                                        <div class="panel-body">
                                            {{c.Comment}}
                                            <div id="attachment-container" class="row">
                                                <div ng-repeat="a in c.Attachments">
                                                    <div class="col-xs-2">
                                                        <a href="{{a.FilePath}}" class="thumbnail" ng-model="a.FileContentType">
                                                            <img src="~/Handlers/Upload/{{a.FilePath}}" alt="{{a.FileName}}" ng-if="a.FileContentType == 'image/jpeg'">
                                                            <i class="fa fa-3x fa-file-pdf-o" aria-hidden="true" ng-if="a.FileContentType == 'application/pdf'"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /panel-body -->
                                    </div><!-- /panel panel-default -->
                                </div><!-- /col-sm-5 -->
                            </div><!-- /row -->
                            <form id="addComment">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <a href="#" id="addComentLink" onclick="$('#comment-input-container').toggle(); $('#comment-container').animate({ scrollTop: $('#comment-input-container').offset().top - 80 }, 'slow');">Add Comment</a>
                                    </div>

                                </div>
                                <div id="comment-input-container" style="display: none;">
                                    <div class="row">
                                        <div class="form-group col-xs-offset-2 col-xs-10">
                                            <label for="description-text" class="control-label">Comment:</label>
                                            <textarea class="form-control" style="min-width: 100%" id="detailDlg-new-comment" data-ng-model="comment.Comment" required></textarea>
                                            <input type="hidden" id="detailDlg-task-id" data-ng-model="task.Id" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-offset-8 col-sm-4">
                                            <label class="btn btn-default btn-file" style="margin: 0px 3px 0px 22px;">
                                                Browse <input type="file" id="btnFileUpload" multiple style="display: none;">
                                            </label>
                                            <button type="button" class="btn btn-primary add-comment" data-ng-click="addComment()">Add</button>
                                            <input type="hidden" id="detailDlg-comment-id" data-ng-model="comment.Id" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-offset-2">
                                            <div id="progress" class="progress" style="display: none;">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only">0% Complete (warning)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-offset-2">
                                            <!-- The container for the uploaded files -->
                                            <div id="files" class="files"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /container -->
                        <!-- End Comment History Section -->
                    </div>
                    <div id="modal-footer" class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div>

@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/bundles/signalR"></script>
    <script src="signalr/hubs"></script>

    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jquery.fileupload.js"></script>

    <script src="~/AppScripts/main.js"></script>
    <script src="~/AppScripts/kanbanBoardDragDrop.js"></script>
    <script src="~/AppScripts/boardService.js"></script>
    <script src="~/AppScripts/boardCtrl.js"></script>
}
